@font-face {
	font-family: GilamDemoBlack;
	src: url('/advanced-hw1-new/Homework1ADVhtmlCSS/fonts/Fontfabric\ -\ Gilam\ Black\ DEMO.otf');
}
@font-face {
	font-family: GilamDemoThin;
	src: url('/advanced-hw1-new/Homework1ADVhtmlCSS/fonts/Fontfabric\ -\ Gilam\ Thin\ Italic\ DEMO.otf');
}
@font-face {
	font-family: Circe;
	src: url('/Homework1ADVhtmlCSS/fonts/Circe_Regular.otf');
}
