.second-block__section {
	margin-top: 94px;
}
.second-block__title {
	margin-top: 161px;
}
.second-block__section {
	display: grid;
	grid-template-areas:
		'model1'
		'model2'
		'model3'
		'model4'
		'model5'
		'model6'
		'model7';
}
@media (min-width: 640px) {
	.second-block__section {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(13, 65px);
		grid-gap: 24px;
		margin-bottom: 191px;
	}
}
.second-block__model {
	display: flex;
	flex-direction: column;
	justify-content: left;
	padding-top: 44px;
	flex-wrap: wrap;
	padding-left: 52px;
	font-family: GilamDemoBlack;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
}
.second-block__model--size {
	font-weight: 500;
}
.element1 {
	grid-row-start: 1;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 2;
	background-color: #0e0e0e;
	font-weight: 400;
}
.element2 {
	grid-row-start: 1;
	grid-row-end: 7;
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: #242424;
	font-weight: 400;
}
.element3 {
	grid-row-start: 1;
	grid-row-end: 5;
	grid-column-start: 3;
	grid-column-end: 4;
	background-color: #1f1f1f;
}
.element4 {
	grid-row-start: 6;
	grid-row-end: 14;
	grid-column-start: 1;
	grid-column-end: 2;
	background-color: #1f1f1f;
}
.element5 {
	grid-row-start: 7;
	grid-row-end: 14;
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: #e4b564;
	color: #000000;
}
.element6 {
	grid-row-start: 5;
	grid-row-end: 10;
	grid-column-start: 3;
	grid-column-end: 4;
	background-color: #0e0e0e;
}
.element7 {
	grid-row-start: 10;
	grid-row-end: 14;
	grid-column-start: 3;
	grid-column-end: 4;
	background-color: #0a0909;
}
.element__text {
	font-weight: 700;
	font-family: GilamDemoBlack;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	font-style: normal;
}
