.footer {
	width: 1920px;
	margin: 0 auto;
	background: #0e0e0e;
}
.third-block__first-line {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.third-block__button {
	width: 180px;
	height: 50px;
	border: 1px solid $gold-color;
	color: $gold-color;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Ballet;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
}
.third-block__section {
	display: grid;
	grid-template-columns: repeat(3, 487px);
	grid-template-rows: repeat(2, 391px);
	grid-auto-rows: minmax(391px, auto);
	margin-bottom: 249px;
}

.third-block__text {
	margin-top: 172px;
	margin-bottom: 72px;
}

.third-block__brend {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.brend1 {
	background-color: #634f2c;
}

.brend2 {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background: #e8d2abc2;
	text-align: center;
}

.brend2__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.brend2__logo {
	width: 62px;
	height: 55px;
}
.brend2__text {
	width: 326px;
	height: 140px;
	margin-top: 16px;
	font-family: GilamDemoThin;
	font-size: 22px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: center;
}
.brend3 {
	background-color: #e4b564;
}

.brend4 {
	background-color: #635a4a;
}

.brend5 {
	background-color: #b08c4d;
}

.brend6 {
	background-color: #634f2c;
}
